body {

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

#byebye {
    color: brown
}


.link {
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(to top, red, brown);
    color: rgb(8, 0, 0);
    padding: 10px 30px;
    border-radius: 10px;
}

.intro {
    width: 50%;

}

.intro img {
    width: 80%;
    padding-top: 10%;

}

.secintro {
    display: flex;
    margin-bottom: 150px;
}


.top {
    background-image: url(images/mypics/top-banner.png);
    background-repeat: no-repeat;
}

#friends {
    text-decoration: solid;
    box-shadow: 10px 10px 40px rgb(87, 15, 15);
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid rgba(153, 17, 17, 0.678);
    text-align: center;
}

#friend {
    text-decoration: solid;
    box-shadow: 10px 10px 40px rgb(87, 15, 15);
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 5px solid rgba(105, 34, 34, 0.678);
    text-align: center;
}


.chobi {

    text-decoration: solid;
    box-shadow: 10px 10px 40px rgb(87, 15, 15);
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%;
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid rgba(153, 17, 17, 0.678);
    text-align: center;
}


.jahid {

    text-decoration: solid;
    box-shadow: 10px 10px 40px rgb(87, 15, 15);
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%;
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid rgba(153, 17, 17, 0.678);
    text-align: center;
}

.fati {
    text-decoration: solid;
    box-shadow: 10px 10px 40px rgb(87, 15, 15);
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%;
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid rgba(153, 17, 17, 0.678);
    text-align: center;
}

.f img {

    width: 250px;
    padding-top: 400;

}

.tanha {
    text-decoration: solid;
    box-shadow: 10px 10px 40px rgb(87, 15, 15);
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%;
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid rgba(153, 17, 17, 0.678);
    text-align: center;
}

.t img {

    width: 250px;
    padding-top: 400;
}

.my-friends {
    text-align: center;
}

.box-shadow {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border: 2px solid white;
    border-radius: 20px;
}

.wight {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border: 2px solid white;
    border-radius: 20px;
}

.half-wight {
    width: 50%;
    padding: 5%;
}

#color {
    background-color: black;
    height: 250px;
}

.make-friends {
    color: rgb(250, 252, 255);
}